html {
  height: 100%; }

body {
  width: 100%;
  margin: 0;
  background: radial-gradient(at bottom, #d2dada, #5d9184); }

.carousel {
  width: 90vw;
  margin: 0 auto; }

.container-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 604px; }

#slick-slide-control00 {
  display: none; }

html {
  height: 100%; }

body {
  width: 100%;
  margin: 0;
  background: radial-gradient(at bottom, #d2dada, #5d9184); }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 5vw; }

.button {
  cursor: pointer; }

.button_size_m {
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  font-size: calc(1.3vw + 3px); }

.menu__button {
  margin: 10px; }

.button_theme_dark {
  color: #f8f8f8;
  background-color: #272727;
  -webkit-box-shadow: 1px 1px 1px 2px #4d4d4d;
  box-shadow: 1px 1px 1px 2px #4d4d4d;
  border: 0;
  border-radius: 2px; }
  .button_theme_dark:hover {
    -webkit-box-shadow: 0px 0px 4px 4px #4d4d4d;
    box-shadow: 0px 0px 4px 4px #4d4d4d; }

.modal-link {
  display: none; }
