$white: rgb(248, 248, 248);

@mixin font-text ($font-size) {
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    font-size: $font-size;
}

html {
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
    background: radial-gradient(at bottom, rgb(210, 218, 218), rgb(93, 145, 132));
}