@import 'index';

.carousel {
    width: 90vw;
    margin: 0 auto;
}

.container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 604px;
}

#slick-slide-control00  { // убираем dots
    display: none;   
}
