@import 'index';

.menu {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
}

.button {
    cursor: pointer;  
}

.button_size_m {
    @include font-text(calc(1.3vw + 3px));
}

.menu__button {
    margin: 10px;
}

.button_theme_dark {
    color: $white;
    background-color: rgb(39, 39, 39);
    box-shadow: 1px 1px 1px 2px rgb(77, 77, 77);
    border: 0;
    border-radius: 2px;
    
    &:hover {   
        box-shadow: 0px 0px 4px 4px rgb(77, 77, 77);
    }
}

.modal-link {  // убираем модальное окно
    display: none;
}
